<header>
  <img routerLink="/" (click)="closeNav()" src="https://logo-logos.com/2017/06/McDonalds_green_logo_Portugal.png" alt="" />
  <h1 routerLink="/contact" (click)="closeNav()" >ShareHolder</h1>
  <span class="burger" (click)="toggleNav()">🍔</span>
  <nav *ngIf="navVisible">
    <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }" (click)="closeNav()">Home</a>
    <a routerLink="/contact" routerLinkActive="active" (click)="closeNav()">Share Holders</a>
    <a routerLink="/statistics" routerLinkActive="active" (click)="closeNav()">Statistics</a>
    <a routerLink="/userDetails" routerLinkActive="active" (click)="closeNav()">Profile</a>
  </nav>
</header>
